In [2]:
import pandas as pd
import numpy as np

In [3]:
df= pd.read_csv("E:\Project\data.csv",sep=",")
print(df)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
..     ...  ..   ...     ...
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [6]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [7]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [8]:
mod=ols("target~age",data=df).fit()
aov=sm.stats.anova_lm(mod,type=2)
print(aov)

             df     sum_sq   mean_sq        F    PR(>F)
age         1.0   3.819244  3.819244  16.1167  0.000075
Residual  301.0  71.329271  0.236974      NaN       NaN

In [9]:
mod=ols("target~trestbps",data=df).fit()
aov=sm.stats.anova_lm(mod,type=2)
print(aov)

             df     sum_sq   mean_sq         F    PR(>F)
trestbps    1.0   1.578497  1.578497  6.458169  0.011546
Residual  301.0  73.570018  0.244419       NaN       NaN

In [10]:
mod=ols("target~chol ",data=df).fit()
aov=sm.stats.anova_lm(mod,type=2)
print(aov)

             df     sum_sq   mean_sq         F   PR(>F)
chol        1.0   0.546007  0.546007  2.202983  0.13879
Residual  301.0  74.602508  0.247849       NaN      NaN

In [11]:
mod=ols("target~thalach ",data=df).fit()
aov=sm.stats.anova_lm(mod,type=2)
print(aov)

             df     sum_sq    mean_sq          F        PR(>F)
thalach     1.0  13.366322  13.366322  65.120104  1.697338e-14
Residual  301.0  61.782193   0.205256        NaN           NaN

In [12]:
mod=ols("target~oldpeak ",data=df).fit()
aov=sm.stats.anova_lm(mod,type=2)
print(aov)

             df     sum_sq    mean_sq          F        PR(>F)
oldpeak     1.0  13.939978  13.939978  68.551439  4.085346e-15
Residual  301.0  61.208537   0.203351        NaN           NaN

In [13]:
import os
from scipy.stats import chisquare

In [14]:
df["sex"] = df.sex.astype("category")
df["cp"] = df.cp.astype("category")
df["fbs"] = df.fbs.astype("category")
df["exang"] = df.exang.astype("category")
df["slope"] = df.slope.astype("category")
df["ca"] = df.ca.astype("category")
df["thal"] = df.thal.astype("category")
df["target"] = df.target.astype("category")

In [15]:
df.dtypes

age            int64
sex         category
cp          category
trestbps       int64
chol           int64
fbs         category
restecg        int64
thalach        int64
exang       category
oldpeak      float64
slope       category
ca          category
thal        category
target      category
dtype: object

In [17]:
chisquare(df.sex,df.target)

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\stats.py:5982: RuntimeWarning: divide by zero encountered in true_divide
  terms = (f_obs.astype(np.float64) - f_exp)**2 / f_exp
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\stats.py:5982: RuntimeWarning: invalid value encountered in true_divide
  terms = (f_obs.astype(np.float64) - f_exp)**2 / f_exp

Power_divergenceResult(statistic=nan, pvalue=nan)

In [19]:
chisquare(df.cp,df.target)

Power_divergenceResult(statistic=nan, pvalue=nan)